@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import "tailwindcss";
@plugin "tailwind-scrollbar-hide";

@theme {
	--font-family-sans: 'Space Mono', monospace;
	--color-card-lime: var(--color-lime-400);
	--color-card-dark: var(--color-zinc-900);
	--color-card-light: var(--color-white);
}

:root {
	font-family: var(--font-family-sans);
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: var(--color-slate-200);
}

/* Add to src/index.css */

.grid-layout {
	display: grid;
	grid-template-columns: 1fr min(calc(100% - 3rem), 22rem) 1fr;
	margin: 0 auto;
}

.grid-full-bleed {
	grid-column: 1 / 4;
}

.grid-content {
	grid-column: 2 / 3;
}

/* card component */
@utility card {
  @apply grid gap-16 p-4 rounded-[1.5rem] transition-colors;
  
  /* 1. Set the variable defaults (Lime variant) */
  --card-fg: var(--color-black);
  --card-btn-bg: var(--color-white);
  --card-btn-fg: var(--color-black);
  
  background-color: var(--color-lime-400);
  color: var(--card-fg);

  &.is-dark {
    /* 2. Update variables for Dark variant */
    --card-fg: var(--color-white);
    --card-btn-bg: var(--color-zinc-800);
    --card-btn-fg: var(--color-white);
    
    background-color: var(--color-zinc-900);
    color: var(--card-fg);
  }

  &.is-light {
    /* 3. Update variables for Light variant */
    --card-fg: var(--color-black);
    --card-btn-bg: var(--color-zinc-100);
    --card-btn-fg: var(--color-black);
    
    background-color: var(--color-white);
    color: var(--card-fg);
    border: 1px solid var(--color-zinc-200);
  }
}

@utility card-icon {
  /* This ensures the SVGR uses the current card's foreground color */
  color: var(--card-fg);
  fill: currentColor;
}

@utility card-button {
  @apply flex items-center gap-3 py-2 px-4 rounded-[1.5rem] transition-all;
  background-color: var(--card-btn-bg);
  color: var(--card-btn-fg);
}
